{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >

    <title>Hello, world!</title>

    <style type="text/css">

    body {
      background-color: whitesmoke;
    }
    .imagesize {
      width: 100px;
      height: 100px;
    }

    .row {
      border: 1px black solid;
      background-color: aqua;
    }





    </style>
  </head>
  <body>
  

    <div class="container">
       {% for student in students %}
  <div class="row">
    <div class="col-lg-6">Name</div>
    <div class="col-lg-6">{{student.name}}</div>
  </div>
  <div class="row">
    <div class="col-lg-6">Email</div>
    <div class="col-lg-6">{{student.email}}</div>
  </div><div class="row">
    <div class="col-lg-6">Contact</div>
    <div class="col-lg-6">{{student.mobile}}</div>
  </div><div class="row">
    <div class="col-lg-6">Photo</div>
    <div class="col-lg-6"><img class="img-fluid imagesize" src="{{student.image.url}}" alt="student image"></div>
  </div>
  <div class="mb-5"><hr></div>
      {% endfor %}

</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
