<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>registration page</title>
  </head>
  <body>
    <form action='{% url 'register'%}' method="post" enctype="multipart/form-data">
      {% csrf_token %}
      
      <input type="text" name="username" placeholder="user name"><br>
      <input type="email" name="email" placeholder="email "><br>
      <input type="password" name="password" placeholder="password "><br>
      <input type="submit" >
    </form>
  </body>
</html>
